.button {
    background-color:  #b9b9b9; 
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 0 20px;
    cursor: pointer;
    
  }
  